:root {
  --white-color: #ffffff;
  --white-transparent: rgba(255, 255, 255, 0.6);

  --primary-background: #f5f5f5;
  --section-background: #f5f4fa;
  --footer-background: #2f303a;

  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --accent-hero-btn: #188ce8;

  --border-color: #eeeeee;

  --time-time-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0px;
  padding: 0px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;

  background-color: var(--white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/* ------------------------- Header ----------------------- */

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .logo {
  display: inline-block;
  margin-right: 90px;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(32px / 26px);
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.white {
  color: var(--white-color);
}

.logo > span {
  color: var(--accent-text-color);
}

.nav-list,
.contact-list {
  display: flex;
}

.contact-list {
  margin-left: auto;
}

.nav-list-item:not(:last-child),
.contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link,
.contact-link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
  transition: color var(--time-time-func);
}

.nav-link.current {
  color: var(--accent-text-color);
  position: relative;
}

.nav-link.current::after {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;

  border-radius: 2px;

  background-color: var(--accent-hero-btn);
}

.contact-link {
  display: flex;
  align-items: center;
  color: inherit;
}

.contact-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  fill: currentColor;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-text-color);
}

/* ------------------------- Footer ----------------------- */

.footer {
  background-color: var(--footer-background);
  padding: 60px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list .address-list-item + .address-list-item {
  margin-top: 9px;
}

.footer-contact-link.white {
  color: var(--white-color);
}

.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;

  color: var(--white-transparent);

  transition: color var(--time-time-func);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-text-color);
}

.footer-socials {
  margin-left: 70px;
}

.footer-socials-title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-socials-list {
  display: flex;
  gap: 10px;
}

/* .footer-social-item {
} */

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--time-time-func);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-text-color);
}

.footer-social-icon {
  display: block;
  height: 20px;
  width: 20px;
  fill: var(--white-color);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  border-radius: 4px;

  border-color: transparent;
  background-color: var(--accent-text-color);
  color: var(--white-color);

  transition: background-color var(--time-time-func);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-hero-btn);
}

.subscribe {
  width: 570px;
  margin-left: auto;
}
.subscribe-title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
}

.subscribe-input-field .field {
  display: block;
  width: 358px;
  height: 50px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--white-color);
  background-color: transparent;
}

.subscribe-button {
  padding: 10px 28px;
  margin-left: 12px;
}

.subscribe-btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

/* ------------------------- Modal ----------------------- */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.2);

  transition: transform var(--time-time-func), opacity var(--time-time-func),
    visibility var(--time-time-func);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time-time-func);
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close-icon {
  display: block;
  height: 18px;
  width: 18px;
  fill: currentColor;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  color: var(--accent-text-color)
}

.userdata-form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: #212121;
}

.userdata-form {
  display: flex;
  flex-direction: column;
}

.field-input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.field-input .label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.field-input .field {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.field-input .icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;

  color: var(--title-text-color);

  fill: currentColor;
}

.comment-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-input .field {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.comment-input .field::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.field-input .field:focus,
.field-input .field:hover {
  border-color: var(--accent-text-color);
}

.field-input .field:focus + .icon,
.field-input .field:hover + .icon {
  fill: var(--accent-text-color);
}

.policy {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 30px;
}

.policy-checkbox {
  appearance: none;

  position: absolute;
}

.policy-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-left: 14px;

  background-image: url(../images/checkbox-false.svg);
  transition: background-image var(--time-time-func);
}

.policy-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 7px;
}

.policy-link {
  text-decoration: underline;
  color: var(--accent-text-color);
}

.policy-checkbox:checked + .policy-icon {
  background-image: url(../images/checkbox-true.svg);
}

.form-btn {
  width: 200px;
  margin: auto;
}

/* ------------------------- Hero section ----------------------- */

.hero-sec {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px;
  background-color: var(--footer-background);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

.hero-btn {
  padding: 10px 32px;
  margin: auto;
}

/* ------------------------- Features WhatWeDo sections ----------------------- */

.section {
  padding: 94px 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section-subtitle {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.section-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.description-sec {
  padding-top: 0;
}

.feature-list {
  display: flex;
}

.fl-item {
  width: calc((100% - 90px) / 4);
}

.feature-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background-color: var(--section-background);
}

.feature-image-icon {
  display: block;
  width: 70px;
  height: 70px;
  margin: 25px auto;
}

.feature-list .fl-item + .fl-item {
  margin-left: 30px;
}

.fl-item .section-subtitle {
  margin: 0px;
}

.fl-item .section-text {
  margin-top: 10px;
  margin-bottom: 0px;
}

.description-list {
  display: flex;
}

.description-list > .dl-item + .dl-item {
  margin-left: 30px;
}

.dl-item {
  position: relative;
}

.dl-title {
  position: absolute;
  bottom: 0;
  right: 0;

  display: block;
  height: 70px;
  width: 100%;
  padding: 27px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
}

/* ------------------------- AboutUs section ----------------------- */

.team-section {
  background-color: var(--section-background);
}

.team-section .section-title {
  margin-bottom: 50px;
}

.teammate-list {
  display: flex;
}

.teammate-list-item {
  font-size: 16px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teammate-list-item + .teammate-list-item {
  margin-left: 30px;
}

.teammate-description {
  padding: 30px;
}

.teammate-list .section-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  text-transform: none;
  letter-spacing: 0.03em;
}

.teammate-list .position {
  margin-bottom: 16px;

  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* .social-list-item {
} */

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: #afb1b8;

  transition: background-color var(--time-time-func),
    color var(--time-time-func);
}

.social-link:hover,
.social-link:focus {
  color: var(--white-color);
  background-color: var(--accent-text-color);
}

.social-link-icon {
  display: block;
  height: 20px;
  width: 20px;

  fill: currentColor;
}

/* ------------------------- Our clients section ----------------------- */

/* .section {
}
.clients-sec .container {
} */

.client-list {
  display: flex;
  gap: 30px;
}

/* .client-list-item {
} */

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;

  color: #afb1b8;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--time-time-func), color var(--time-time-func);
}
.client-icon {
  display: block;
  padding: 16px 32px;
  height: 100%;
  width: 100%;

  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

/* ------------------------- Portfolio section ----------------------- */

.filter-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter-btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;

  background-color: var(--section-background);
  border-color: transparent;
  border-radius: 4px;

  transition: background-color var(--time-time-func),
    color var(--time-time-func);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-text-color);
  color: var(--white-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: var(--white-color);
  color: var(--primary-text-color);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item .item-footer {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

.portfolio-link {
  display: block;
  color: inherit;

  transition: box-shadow var(--time-time-func);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item img {
  display: block;
}

.portfolio-item .title {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.portfolio-item .category {
  margin: 0;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.item-description {
  position: relative;
  overflow: hidden;
}

.item-description .text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--white-color);

  transform: translateY(100%);
  transition: transform var(--time-time-func);

  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-link:hover .text,
.portfolio-link:focus .text {
  transform: none;
}
